@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Play:wght@400;700&display=swap);
.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto
}
@media (min-width:576px) {
  .container {
    max-width: 540px
  }
}
@media (min-width:768px) {
  .container {
    max-width: 720px
  }
}
@media (min-width:992px) {
  .container {
    max-width: 960px
  }
}
@media screen and (min-width:1200px) {
  .container {
    max-width: 1140px
  }
}
a,
abbr,
acronym,
address,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}
header {
  background: #000;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%
}
.header-nav ul {
  display: flex
}
.header-nav ul li {
  margin: 0 25px
}
.header-nav ul li a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
  transition: 250ms
}
.header-nav ul li a:hover {
  color: #f2994a
}
.header-search {
  width: 50px;
  height: 50px;
  background: 0 0;
  border: transparent;
  cursor: pointer
}
.header-search path {
  transition: 250ms
}
.header-search:hover path {
  stroke: #f2994a
}
.page__scroll {
  width: 100%;
  height: 2px;
  background-color: rgba(242,153,74,.2)
}
.page__scroll-progress {
  height: 100%;
  width: 0%;
  background-color: #f2994a
}
footer {
  border-top: 1px solid rgba(242,153,74,.3);
  padding: 80px 0 0;
  background-image: url(assets/img/procesed/footer.png);
  background-size: cover
}
footer .container {
  position: relative
}
.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 6fr 1fr;
  grid-template-rows: 6fr 1fr;
  padding-bottom: 130px;
  gap: 75px
}
.footer-grid__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 90px 1fr;
  grid-template-columns: auto 1fr;
  gap: 0 90px;
  grid-template-areas: 'footer-logo footer-nav'
}
.footer-grid__bottom {
  display: flex;
  justify-content: space-between;
  line-height: 20px
}
.footer-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: footer-logo
}
.footer-nav {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  padding-top: 25px;
  grid-area: footer-nav
}
.footer-nav .navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5,1fr);
  gap: 0 90px;
  list-style: none
}
.footer-nav .navbar li {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px
}
.footer-nav .navbar li a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 25px
}
.footer-nav .navbar li li {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px
}
.footer-rights {
  grid-area: footer-rights
}
.footer-rights__copiwright {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff
}
.footer-pages {
  grid-area: footer-pages;
  width: 80%
}
.footer-pages ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none
}
.footer-pages ul li {
  margin-left: 120px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px
}
.footer-pages ul li a {
  color: #fff;
  text-decoration: none
}
.footer__site {
  background-image: url(assets/img/procesed/Footer-NWD.png);
  height: 60px;
  background-size: contain
}
.front-section {
  min-height: 100vh;
  background-color: #000;
  position: relative;
  padding-top: 80px
}
.front-section:nth-of-type(1) {
  background-image: url(assets/img/procesed/intro.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: unset;
  padding-top: 170px
}
.front-section:nth-of-type(2) {
  background-image: url(assets/img/procesed/air.png);
  background-size: cover
}
.front-section:nth-of-type(3) {
  background-image: url(assets/img/procesed/Earth.png);
  background-size: cover
}
.front-section:nth-of-type(3)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg,#141414 6.99%,rgba(20,20,20,.74) 51.51%,rgba(20,20,20,0) 100%)
}
.front-section:nth-of-type(3)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg,#141414 6.99%,rgba(20,20,20,.74) 51.51%,rgba(20,20,20,0) 100%);
  transform: rotate(180deg)
}
.front-section:nth-of-type(4) {
  background-image: url(assets/img/procesed/Fire.png);
  background-size: cover
}
.front-section:nth-of-type(4)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg,#141414 6.99%,rgba(20,20,20,.74) 51.51%,rgba(20,20,20,0) 100%)
}
.front-section:nth-of-type(4)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg,#141414 6.99%,rgba(20,20,20,.74) 51.51%,rgba(20,20,20,0) 100%);
  transform: rotate(180deg)
}
.front-section:nth-of-type(5) {
  background-image: url(assets/img/procesed/Water.png);
  background-size: cover
}
.front-section:nth-of-type(6) {
  background-image: url(assets/img/procesed/TODO.png);
  background-size: cover
}
.front-section:nth-of-type(6)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg,#141414 6.99%,rgba(20,20,20,.74) 51.51%,rgba(20,20,20,0) 100%)
}
.front-section:nth-of-type(6)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg,#141414 6.99%,rgba(20,20,20,.74) 51.51%,rgba(20,20,20,0) 100%);
  transform: rotate(180deg)
}
.front-section:nth-of-type(7) {
  background-image: url(assets/img/procesed/Man.png);
  background-size: cover
}
.front-section:nth-of-type(7)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg,#141414 6.99%,rgba(20,20,20,.74) 51.51%,rgba(20,20,20,0) 100%)
}
.front-section:nth-of-type(7)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg,#141414 6.99%,rgba(20,20,20,.74) 51.51%,rgba(20,20,20,0) 100%);
  transform: rotate(180deg)
}
.front-section:nth-of-type(8) {
  background-image: url(assets/img/procesed/Interesting.png);
  background-size: cover
}
.front-intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  position: relative
}
.front-intro__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: 28%;
  box-sizing: content-box;
  position: relative
}
.intro-block__content {
  position: absolute;
  bottom: 50px;
  width: 600px;
  z-index: 1
}
.intro-block__content span {
  position: relative;
  top: -20px;
  color: #f2994a;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: .1em
}
.intro-block__content h4 {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  color: #fff;
  position: relative;
  padding-bottom: 30px
}
.front-intro__media {
  display: flex;
  flex-basis: 72%;
  position: relative
}
.front-intro__media img {
  height: 620px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.intro-block_read {
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #f2994a;
  margin-bottom: -9px;
  background: 0 0;
  border: transparent;
  padding-top: 30px;
  border-top: 1px solid #f2994a;
  width: 100%
}
.intro-block_read span {
  margin-left: -5px
}
.intro-block_read svg {
  margin-left: 10px
}
.front-section__heading {
  position: relative
}
.front-section__heading h2 {
  font-family: Play;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 40px;
  color: #fff
}
.front-section__heading::before {
  position: absolute;
  content: '';
  background: rgba(242,153,74,.5);
  height: 2px;
  width: 50vh;
  left: calc(-50vh - 35px);
  top: 50%
}
::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(242,153,74,.2)
}
::-webkit-scrollbar-thumb {
  background-color: #f2994a
}
.disable-overflow {
  overflow: hidden
}
* {
  outline: transparent
}
body {
  font-family: Montserrat,sans-serif
}