footer{
  border-top: 1px solid rgba($orange, 0.3);
  padding: 80px 0px 0px;
  @include section-back('footer');
  .container{
    position: relative;
  }
}
.footer-grid {
  display: grid;
  grid-template-rows: 6fr 1fr;
  padding-bottom: 130px;
  gap: 75px;
}
.footer-grid__top{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0px 90px;
  grid-template-areas: 'footer-logo footer-nav';
}
.footer-grid__bottom{
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  
}
.footer-logo {
  grid-area: footer-logo;
}
.footer-nav {
  padding-top: 25px;
  grid-area: footer-nav;
  .navbar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px 90px;
    list-style: none;
    li{
      display: flex;
      flex-direction: column;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 28px;
      a{
        color: $white;
        text-decoration: none;
        margin-bottom: 25px;
      }
      li{
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
      }
    }
  }
}
.footer-rights {
  grid-area: footer-rights;
}
.footer-rights__copiwright{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: $white;
}
.footer-pages {
  grid-area: footer-pages;
  width: 80%;
  ul{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    li{
      margin-left: 120px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      a{
        color: $white;
        text-decoration: none;
      }

    }
  }
}
.footer__site{
  background-image: url(./assets/img/procesed/Footer-NWD.png);
  height: 60px;
  background-size: contain;
}