
.front-section{
  min-height: 100vh;
  background-color: $black;
  position: relative;
  padding-top: 80px;
  &:nth-of-type(1){
    @include section-back('intro');
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: unset;
    padding-top: 170px;
  }
  &:nth-of-type(2){
    @include section-back('air');
  }
  &:nth-of-type(3){
    @include section-back('Earth', $psevdo:true);
  }
  &:nth-of-type(4){
    @include section-back('Fire', $psevdo:true);
  }
  &:nth-of-type(5){
    @include section-back('Water');
  }
  &:nth-of-type(6){
    @include section-back('TODO', $psevdo:true);
  }
  &:nth-of-type(7){
    @include section-back('Man', $psevdo:true);
  }
  &:nth-of-type(8){
    @include section-back('Interesting');
  }
}

.front-intro{
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  position: relative;
}
.front-intro__block{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: 28%;
  box-sizing: content-box;
  position: relative;
}

.intro-block__content{
  position: absolute;
  bottom: 50px;
  width: 600px;
  z-index: 1;
  span{
    position: relative;
    top: -20px;
    color: $orange;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.1em;
  }
  h4{
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 60px;
    color: $white;
    position: relative;
    padding-bottom: 30px;
    
  }
}
.front-intro__media{
  display: flex;
  flex-basis: 72%;
  position: relative;
  img{
    height: 620px;
    width: 100%;
    object-fit: cover;
  }
}
.intro-block_read{
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: $orange;
  margin-bottom: -9px;
  background: transparent;
  border: transparent;
  padding-top: 30px;
  border-top: 1px solid $orange;
  width: 100%;
  span{
    margin-left: -5px;
  }
  svg{
    margin-left: 10px;
  }
}
.front-section__heading{
  position: relative;
  h2{
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 40px;
    color: $white;
  }
  &::before{
    position: absolute;
    content: '';
    background: rgba($orange, 0.5);
    height: 2px;
    width: 50vh;
    left: calc(-50vh - 35px);
    top: 50%;
  }
}