header{
  background: $black;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.header-logo {

}
.header-nav {
  ul{
    display: flex;
    li{
      margin: 0px 25px;
      a{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        text-decoration: none;
        color: $white;
        transition: 250ms;
        &:hover{
          color: $orange;
        }
      }
    }
  }
}
.header-search {
  // display: flex;
  // align-items: center;
  // justify-content: flex-end;
  width: 50px;
  height: 50px;
  background: transparent;
  border: transparent;
  cursor: pointer;
  path{
    transition: 250ms;
  }
  &:hover{
    path{
      stroke: $orange;
    }
  }
}
.page__scroll{
  width: 100%;
  height: 2px;
  background-color: rgba($orange, 0.2);
}
.page__scroll-progress{
  height: 100%;
  width: 0%;
  background-color: $orange;
}