::-webkit-scrollbar { /* 1 - скроллбар */
    width: 10px;
   
    background-color: rgba($orange, 0.2);
  }
  ::-webkit-scrollbar-thumb { /* 5 - ползунок */
    background-color: $orange;
  }

.disable-overflow{
  overflow: hidden;
}  