@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Play:wght@400;700&display=swap');

// @import "../../../../../../node_modules/swiper/swiper.scss";
// @import "../../../../../../node_modules/swiper/components/thumbs/thumbs.scss";
// @import "../../../../../../node_modules/swiper/components/pagination/pagination.scss";
// @import "../../../../../../node_modules/swiper/components/navigation/navigation.scss";
// @import "../../../../../../node_modules/swiper/components/controller/controller.scss";
// @import "../../../../../../node_modules/swiper/components/effect-fade/effect-fade.scss";



@import "VAR";
@import "nostyle";


@import "../../components/components-exporter.scss";
// @import "../../home/home_component_exporter.scss";

@import "header";
@import "searchform";
@import "footer";

@import "category";

@import "page";

@import "404";

@import "search";

@import "mail";

@import "front-page";
@import "archive";

@import "single";

@import "comments";

@import "scrollbar";

@import "cookies";

@import "up-button";

@import "about.scss";

@import 'partnership.scss';

@import 'pop_up.scss';

*{
  outline: transparent;
}
body{
  font-family: 'Montserrat', sans-serif;
}