$black: #000000;
$white: #FFFFFF;
$orange: #F2994A;


.container{
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width:576px) {
    max-width: 540px
  }
  @media (min-width:768px) {
    max-width: 720px
  }
  @media (min-width:992px) {
    max-width: 960px
  }
  @media screen and(min-width:1200px){
    max-width: 1140px;
  }
}

@mixin section-back($name, $psevdo: false) {
  background-image: url('./assets/img/procesed/#{$name}.png');
  background-size: cover;

  @if $psevdo {
    &::before{
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 200px;
      background: linear-gradient(180deg, #141414 6.99%, rgba(20, 20, 20, 0.74) 51.51%, rgba(20, 20, 20, 0) 100%);
    }
    &::after{
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 200px;
      background: linear-gradient(180deg, #141414 6.99%, rgba(20, 20, 20, 0.74) 51.51%, rgba(20, 20, 20, 0) 100%);
      transform: rotate(180deg);
    }
  }
}